body
{
  background: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container .left_side
{
  position: relative;
  background: rgb(16, 235, 16);
  padding: 40px;
}